openapi: 3.1.0
info:
  title: mycellios - plano de control
  version: 0.2.0
  description: |
    API nativa de Mycellios para descubrir modelos, enviar chats a workers de
    inferencia y observar o cancelar trabajos. El contrato no incorpora
    proveedores, adaptadores ni servicios de inferencia externos.

    Límites estructurales: cuerpo HTTP y frame WebSocket de 2 MiB, fragmento de
    token de 64 KiB y salida completa limitada al menor valor entre 2 MiB y
    `max_tokens * 32` bytes. Los deadlines se propagan al worker y una sesión no
    admite dos generaciones activas a la vez.
servers:
  - url: https://www.mycellios.com
    description: API pública de Mycellios
  - url: http://127.0.0.1:8787
    description: Coordinador local predeterminado

paths:
  /health:
    get:
      operationId: getHealth
      summary: Estado del coordinador
      responses:
        "200":
          description: Coordinador operativo e inventario resumido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /v1/models:
    get:
      operationId: listModels
      summary: Modelos anunciados por workers conectados
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Lista de modelos Mycellios
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelListResponse"

  /v1/chat/completions:
    post:
      operationId: createChatCompletion
      summary: Ejecutar una generación
      description: |
        Devuelve JSON cuando `stream=false` y Server-Sent Events Mycellios
        cuando `stream=true`. `Idempotency-Key` es opcional; una clave ya
        vinculada devuelve 409 y no crea un segundo trabajo.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
      responses:
        "200":
          description: Completion JSON o stream SSE
          headers:
            x-network-request-id:
              description: Identificador del trabajo
              schema:
                type: string
            x-network-session-id:
              description: Sesión usada para afinidad de ruta
              schema:
                type: string
            x-route-class:
              description: Clase de ruta de una respuesta no streaming
              schema:
                type: string
                enum: [replica, pipeline]
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
            text/event-stream:
              schema:
                type: string
                description: "Secuencia de eventos `data: {...}` terminada por `data: [DONE]`."
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "409":
          description: Sesión ocupada o clave idempotente ya utilizada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Cuerpo HTTP superior a 2 MiB
        "502":
          description: El worker falló o el stream terminó sin resultado válido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: No existe una ruta sana para el modelo solicitado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/account:
    get:
      operationId: getApiAccount
      summary: Saldo, consumo acumulado y límites de la cuenta
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Cuenta API del usuario o de la clave
        "401":
          description: Sesión o API key ausente, inválida o revocada

  /v1/account/usage:
    get:
      operationId: listApiUsage
      summary: Historial de reservas y consumo de inferencia
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        "200":
          description: Uso más reciente de la cuenta

  /v1/api-keys:
    get:
      operationId: listApiKeys
      summary: Claves de la cuenta, sin revelar sus secretos
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Claves activas y revocadas
    post:
      operationId: createApiKey
      summary: Crear una clave revocable
      description: El secreto completo sólo aparece en esta respuesta.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 80
      responses:
        "201":
          description: Clave creada y secreto mostrado una sola vez

  /v1/api-keys/{keyId}:
    delete:
      operationId: revokeApiKey
      summary: Revocar inmediatamente una clave
      security:
        - bearerAuth: []
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Clave revocada
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/requests/{jobId}:
    get:
      operationId: getInferenceJob
      summary: Consultar el estado y métricas de un trabajo
      parameters:
        - $ref: "#/components/parameters/JobId"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Trabajo encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/requests/{jobId}/cancel:
    post:
      operationId: cancelInferenceJob
      summary: Cancelar un trabajo no terminal
      parameters:
        - $ref: "#/components/parameters/JobId"
      security:
        - bearerAuth: []
      responses:
        "202":
          description: Cancelación propagada
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [id, status]
                properties:
                  id:
                    type: string
                  status:
                    const: cancelled
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "404":
          description: Trabajo inexistente o terminal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /internal/v1/workers/register:
    post:
      operationId: registerWorker
      summary: Registrar las capacidades de un worker
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkerRegistration"
      responses:
        "201":
          description: Worker registrado para esta ejecución
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [workerId, protocolVersion]
                properties:
                  workerId:
                    type: string
                  protocolVersion:
                    const: 1
        "400":
          $ref: "#/components/responses/InvalidRequest"

  /internal/v1/workers:
    get:
      operationId: listWorkers
      summary: Inventario de workers conocidos
      responses:
        "200":
          description: Workers y deployments anunciados
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WorkerInventoryEntry"

  /internal/v1/workers/connect:
    get:
      operationId: connectWorkerWebSocket
      summary: Upgrade WebSocket del worker
      description: |
        El worker envía `worker.hello`, recibe `server.ready` y comienza a emitir
        heartbeats. Las ofertas llevan `jobId`, `leaseId`, digest del modelo,
        deadline absoluto y petición normalizada. El frame máximo es 2 MiB.
      responses:
        "101":
          description: Switching Protocols

  /mobile/v1/register:
    post:
      operationId: registerMobileWorker
      summary: Registrar una PWA como worker de cómputo oportunista
      description: El `joinToken` sólo es obligatorio cuando el coordinador configura `MYCELLIOS_MOBILE_JOIN_TOKEN`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MobileRegistration"
      responses:
        "201":
          description: Credencial efímera para el WebSocket móvil
          content:
            application/json:
              schema:
                type: object
                required: [workerId, token, protocolVersion, websocketPath]
                properties:
                  workerId:
                    type: string
                    format: uuid
                  token:
                    type: string
                  protocolVersion:
                    const: 1
                  websocketPath:
                    const: /mobile/v1/connect
        "401":
          description: Token de invitación incorrecto

  /mobile/v1/workers:
    get:
      operationId: listMobileWorkers
      summary: Inventario y métricas de workers PWA
      responses:
        "200":
          description: Workers móviles registrados en esta ejecución
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MobileWorkerSnapshot"

  /mobile/v1/connect:
    get:
      operationId: connectMobileWorkerWebSocket
      summary: Upgrade WebSocket del worker PWA
      description: |
        Autentica `workerId` y `token` en la query. El cliente solicita trabajo,
        acepta un lease y devuelve muestras del kernel; el coordinador sólo
        contabiliza la tarea si las muestras superan la verificación numérica.
      parameters:
        - name: workerId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "101":
          description: Switching Protocols

  /v1/studio/agents:
    get:
      operationId: listStudioAgents
      summary: Listar agentes Studio de la cuenta
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Agentes aislados por propietario }
    post:
      operationId: createStudioAgent
      summary: Crear un borrador durable e idempotente
      security: [{ bearerAuth: [] }]
      responses:
        "201": { description: Borrador creado }

  /v1/studio/agents/{agentId}/publish:
    post:
      operationId: publishStudioAgent
      summary: Publicar una revisión inmutable en canales explícitos
      description: Sin una ruta compatible, publica la configuración en waiting_for_capacity y no ejecuta ni cobra inferencia.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: agentId, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Revisión y deployments creados idempotentemente }

  /v1/studio/agents/{agentId}/knowledge:
    post:
      operationId: ingestStudioKnowledge
      summary: Ingerir texto o Markdown acotado para recuperación atribuible
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: agentId, in: path, required: true, schema: { type: string } }
      responses:
        "201": { description: Fuente indexada }

  /v1/studio/agents/{agentId}/memory:
    get:
      operationId: listStudioMemory
      summary: Inspeccionar memoria explícita del agente y sujeto
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: agentId, in: path, required: true, schema: { type: string } }
        - { name: subjectId, in: query, schema: { type: string } }
      responses:
        "200": { description: Hechos no borrados ni expirados }
    post:
      operationId: createStudioMemory
      summary: Proponer o aprobar un hecho de memoria
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: agentId, in: path, required: true, schema: { type: string } }
      responses:
        "201": { description: Hecho creado }

  /public/v1/studio/web/{publicId}/invoke:
    post:
      operationId: invokeStudioWebAgent
      summary: Invocar un deployment Web activo
      parameters:
        - { name: publicId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StudioInvocation" }
      responses:
        "200": { description: Respuesta con uso y receipt, o eventos SSE cuando stream=true }
        "503": { description: Publicado pero esperando capacidad compatible }

  /v1/studio/api/{publicId}/invoke:
    post:
      operationId: invokeStudioApiAgent
      summary: Invocar un deployment API perteneciente a la cuenta de la credencial
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: publicId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StudioInvocation" }
      responses:
        "200": { description: Respuesta idempotente }
        "404": { description: Deployment inexistente, revocado o ajeno }

  /public/v1/studio/telegram/{publicId}:
    post:
      operationId: invokeStudioTelegramAgent
      summary: Procesar un webhook Telegram autorizado e idempotente
      description: La primera entrega responde con el método sendMessage de Telegram; un update repetido solo se confirma y no vuelve a enviar el mensaje.
      parameters:
        - { name: publicId, in: path, required: true, schema: { type: string } }
        - { name: X-Telegram-Bot-Api-Secret-Token, in: header, required: true, schema: { type: string } }
      responses:
        "200": { description: Entrega aceptada o replay confirmado sin duplicar respuesta }
        "401": { description: Secret de webhook inválido }
        "403": { description: Chat fuera de la allowlist }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "Supabase JWT o myc_live_*"
      description: |
        Usa el access token de la cuenta para gestionar claves o una API key
        `myc_live_*` para consumir inferencia y consultar el saldo.

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: Clave global de 1 a 128 caracteres ASCII imprimibles.
      schema:
        type: string
        minLength: 1
        maxLength: 128
        pattern: "^[\\x21-\\x7E]+$"
    JobId:
      name: jobId
      in: path
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 128

  responses:
    InvalidRequest:
      description: Petición no válida
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Recurso inexistente
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    StudioInvocation:
      type: object
      additionalProperties: false
      required: [idempotencyKey, message]
      properties:
        idempotencyKey: { type: string, minLength: 1, maxLength: 128 }
        subjectId: { type: string, default: anonymous, minLength: 1, maxLength: 128 }
        message: { type: string, minLength: 1, maxLength: 8000 }
        stream: { type: boolean, default: false }

    ErrorResponse:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          required: [code]
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items: {}

    HealthResponse:
      type: object
      additionalProperties: false
      required: [status, version, workers]
      properties:
        status:
          const: ok
        version:
          type: string
        workers:
          type: object
          additionalProperties: false
          required: [registered, connected, online]
          properties:
            registered:
              type: integer
              minimum: 0
            connected:
              type: integer
              minimum: 0
            online:
              type: integer
              minimum: 0

    ChatMessage:
      type: object
      required: [role, content]
      properties:
        role:
          type: string
          enum: [system, developer, user, assistant, tool]
        content:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1

    ChatCompletionRequest:
      type: object
      additionalProperties: false
      required: [model, messages]
      properties:
        model:
          type: string
          minLength: 1
        messages:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ChatMessage"
        stream:
          type: boolean
          default: false
        max_tokens:
          type: integer
          minimum: 1
          maximum: 32768
          default: 256
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 0.7
        top_p:
          type: number
          exclusiveMinimum: 0
          maximum: 1
          default: 1
        seed:
          type: integer
        session_id:
          type: string
          minLength: 1
          description: Mantiene afinidad de ruta durante 15 minutos.
        workload_class:
          type: string
          enum: [interactive, batch, benchmark]
          default: interactive
        preferred_region:
          type: string
          minLength: 1
        deadline_ms:
          type: integer
          minimum: 1000
          maximum: 3600000
          default: 120000

    CompletionMetrics:
      type: object
      additionalProperties: false
      required: [inputTokens, outputTokens, ttftMs, activeMs]
      properties:
        inputTokens:
          type: integer
          minimum: 0
        outputTokens:
          type: integer
          minimum: 0
        ttftMs:
          type: integer
          minimum: 0
        activeMs:
          type: integer
          minimum: 1
        energyWh:
          type: number
          minimum: 0

    ChatCompletionResponse:
      type: object
      required: [id, object, created, model, choices, usage, x_network]
      properties:
        id:
          type: string
        object:
          const: chat.completion
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            required: [index, message, finish_reason]
            properties:
              index:
                type: integer
              message:
                type: object
                required: [role, content]
                properties:
                  role:
                    const: assistant
                  content:
                    type: string
              finish_reason:
                type: string
                enum: [stop, length, cancelled, error]
        usage:
          type: object
          required: [prompt_tokens, completion_tokens, total_tokens]
          properties:
            prompt_tokens:
              type: integer
              minimum: 0
            completion_tokens:
              type: integer
              minimum: 0
            total_tokens:
              type: integer
              minimum: 0
        x_network:
          type: object
          required: [session_id, route_class, affinity_hit, ttft_ms, active_ms]
          properties:
            session_id:
              type: string
            route_class:
              type: string
              enum: [replica, pipeline]
            affinity_hit:
              type: boolean
            ttft_ms:
              type: integer
              minimum: 0
            active_ms:
              type: integer
              minimum: 1

    ModelDeployment:
      type: object
      additionalProperties: false
      required:
        - deploymentId
        - model
        - modelDigest
        - mode
        - adapter
        - peakVramMb
        - contextLimit
        - maxConcurrency
        - freeSlots
        - tokensPerSecond
        - ttftMs
        - dataLocality
      allOf:
        - if:
            properties:
              adapter:
                const: mycellios-pipeline
          then:
            required: [activationId, throughputSource, verificationState]
            oneOf:
              - properties:
                  verificationState:
                    const: pending
                  throughputSource:
                    const: default
              - required: [canaryEvidence]
                properties:
                  verificationState:
                    const: verified
                  throughputSource:
                    const: measured
      properties:
        deploymentId:
          type: string
        model:
          type: string
        modelDigest:
          type: string
        activationId:
          type: string
          minLength: 1
          maxLength: 256
        mode:
          type: string
          enum: [replica, pipeline]
        adapter:
          type: string
          enum: [mycellios-pipeline, mock]
        peakVramMb:
          type: integer
          minimum: 1
        contextLimit:
          type: integer
          minimum: 1
        maxConcurrency:
          type: integer
          minimum: 1
        freeSlots:
          type: integer
          minimum: 0
        tokensPerSecond:
          type: number
          exclusiveMinimum: 0
        throughputSource:
          type: string
          enum: [measured, estimated, configured, default]
        ttftMs:
          type: number
          minimum: 0
        verificationState:
          type: string
          enum: [pending, verified]
        canaryEvidence:
          $ref: "#/components/schemas/DeploymentCanaryEvidence"
        dataLocality:
          type: string
          const: local
        stage:
          type: object
          additionalProperties: false
          required: [index, total, layerStart, layerEnd]
          properties:
            index:
              type: integer
              minimum: 0
            total:
              type: integer
              minimum: 1
            layerStart:
              type: integer
              minimum: 0
            layerEnd:
              type: integer
              minimum: 0

    DeploymentCanaryEvidence:
      type: object
      additionalProperties: false
      required:
        - schema
        - evidenceId
        - challengeId
        - nonce
        - workerId
        - sessionId
        - issuedAt
        - expiresAt
        - model
        - modelDigest
        - activationId
        - promptDigest
        - maxOutputTokens
        - observedAt
        - warmupSamples
        - samples
      properties:
        schema:
          const: mycellios-coordinator-deployment-canary/1
        evidenceId:
          type: string
          pattern: "^sha256:[0-9a-f]{64}$"
        challengeId:
          type: string
          maxLength: 256
        nonce:
          type: string
          minLength: 43
          maxLength: 43
          pattern: "^[A-Za-z0-9_-]+$"
        workerId:
          type: string
          maxLength: 256
        sessionId:
          type: string
          maxLength: 256
        issuedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        model:
          type: string
          minLength: 1
          maxLength: 256
        modelDigest:
          type: string
          pattern: "^sha256:[0-9a-f]{64}$"
        activationId:
          type: string
          minLength: 1
          maxLength: 256
        promptDigest:
          type: string
          pattern: "^sha256:[0-9a-f]{64}$"
        maxOutputTokens:
          type: integer
          minimum: 1
          maximum: 32768
        observedAt:
          type: string
          format: date-time
        warmupSamples:
          type: integer
          minimum: 1
          maximum: 1000
        samples:
          type: array
          minItems: 3
          maxItems: 1000
          items:
            type: object
            additionalProperties: false
            required: [sampleId, outputTokens, activeMs, ttftMs, completed]
            properties:
              sampleId:
                type: string
                pattern: "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
              outputTokens:
                type: integer
                minimum: 1
                maximum: 1000000
              activeMs:
                type: integer
                minimum: 1
                maximum: 3600000
              ttftMs:
                type: integer
                minimum: 0
                maximum: 3600000
              completed:
                const: true

    GpuCapability:
      type: object
      required:
        - id
        - vendor
        - model
        - physicalVramMb
        - offeredVramMb
        - freeOfferedVramMb
      properties:
        id:
          type: string
        vendor:
          type: string
        model:
          type: string
        physicalVramMb:
          type: integer
          minimum: 0
        sharedMemoryMb:
          type: integer
          minimum: 0
        unifiedMemory:
          type: boolean
        offeredVramMb:
          type: integer
          minimum: 512
        freeOfferedVramMb:
          type: integer
          minimum: 0
        utilizationPct:
          type: number
          minimum: 0
          maximum: 100
        temperatureC:
          type: number
        powerW:
          type: number
          minimum: 0

    WorkerCapabilities:
      type: object
      additionalProperties: false
      required: [region, agentVersion, gpus, limits, deployments, network]
      properties:
        region:
          type: string
        agentVersion:
          type: string
        gpus:
          type: array
          minItems: 1
          maxItems: 16
          items:
            $ref: "#/components/schemas/GpuCapability"
        limits:
          type: object
          additionalProperties: false
          required: [maxConcurrency, pauseWhenForeground]
          properties:
            maxConcurrency:
              type: integer
              minimum: 1
            maxPowerW:
              type: number
              exclusiveMinimum: 0
            maxTemperatureC:
              type: number
            pauseWhenForeground:
              type: boolean
        deployments:
          type: array
          maxItems: 256
          items:
            $ref: "#/components/schemas/ModelDeployment"
        network:
          type: object
          additionalProperties: false
          required: [coordinatorRttMs, uplinkMbps, downlinkMbps]
          properties:
            coordinatorRttMs:
              type: number
              minimum: 0
            uplinkMbps:
              type: number
              minimum: 0
            downlinkMbps:
              type: number
              minimum: 0
        distributedExecutor:
          type: object
          additionalProperties: false
          required: [protocol, nodeId, stageHost, stagePort, runtime]
          properties:
            protocol:
              type: string
              enum: [gdlp-worker-tunnel/1, gdlp-worker-tunnel/2]
            streamRecovery:
              const: offset-ack-v1
            nodeId:
              type: string
              pattern: "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
            stageHost:
              type: string
            stagePort:
              type: integer
              minimum: 1
              maximum: 65535
            runtime:
              const: python-safetensors
            computeMode:
              type: string
              enum: [automatic, gpu-only, cpu-only]
            cpuEligible:
              type: boolean
            acceleration:
              type: object
              description: Sanitized local runtime diagnostics. Not performance evidence.
            performanceEvidence:
              $ref: "#/components/schemas/CoordinatorRuntimePerformanceEvidence"
            directTransport:
              type: object
              description: Reachability hints; sessions still require a one-time coordinator grant.

    PhysicalPerformanceSeries:
      type: object
      additionalProperties: false
      required: [unit, warmupSamples, samples, p5, p50, p95, confidenceHalfWidthPct]
      properties:
        unit:
          type: string
          enum: [GB/s, TFLOP/s]
        warmupSamples:
          type: integer
          minimum: 1
        samples:
          type: integer
          minimum: 7
        p5:
          type: number
          exclusiveMinimum: 0
        p50:
          type: number
          exclusiveMinimum: 0
        p95:
          type: number
          exclusiveMinimum: 0
        confidenceHalfWidthPct:
          type: number
          minimum: 0
          maximum: 100

    RuntimePerformanceProfile:
      type: object
      additionalProperties: false
      required: [schema, profileId, measuredAt, backend, deviceName, precision, source, activationCodecId, decodeMemory, prefillCompute, activationCodec]
      properties:
        schema:
          const: mycellios-runtime-performance/1
        profileId:
          type: string
          pattern: "^sha256:[0-9a-f]{64}$"
        measuredAt:
          type: string
          format: date-time
        backend:
          type: string
          enum: [cuda, rocm, mps, xpu, cpu]
        deviceName:
          type: string
        precision:
          type: string
          enum: [float16, float32]
        source:
          const: physical-microbenchmark
        activationCodecId:
          const: fp16
        decodeMemory:
          $ref: "#/components/schemas/PhysicalPerformanceSeries"
        prefillCompute:
          $ref: "#/components/schemas/PhysicalPerformanceSeries"
        activationCodec:
          $ref: "#/components/schemas/PhysicalPerformanceSeries"

    CoordinatorRuntimePerformanceEvidence:
      type: object
      additionalProperties: false
      required: [schema, evidenceId, challengeId, nonce, workerId, sessionId, nodeId, issuedAt, expiresAt, observedAt, profile]
      properties:
        schema:
          const: mycellios-coordinator-runtime-performance/1
        evidenceId:
          type: string
          pattern: "^sha256:[0-9a-f]{64}$"
        challengeId:
          type: string
        nonce:
          type: string
          minLength: 43
          maxLength: 43
          pattern: "^[A-Za-z0-9_-]+$"
        workerId:
          type: string
        sessionId:
          type: string
        nodeId:
          type: string
        issuedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        observedAt:
          type: string
          format: date-time
        profile:
          $ref: "#/components/schemas/RuntimePerformanceProfile"

    WorkerRegistration:
      type: object
      additionalProperties: false
      required: [capabilities]
      properties:
        capabilities:
          $ref: "#/components/schemas/WorkerCapabilities"

    MobileRegistration:
      type: object
      additionalProperties: false
      required: [clientId, name, region, platform, backend, performanceLevel, capabilities, benchmark]
      properties:
        clientId:
          type: string
          minLength: 8
          maxLength: 128
        name:
          type: string
        region:
          type: string
        platform:
          type: string
        backend:
          type: string
          enum: [webgpu, cpu]
        performanceLevel:
          type: string
          enum: [low, balanced, maximum]
        joinToken:
          type: string
        capabilities:
          type: object
          additionalProperties: false
          required: [webgpu, wasm, hardwareConcurrency]
          properties:
            webgpu:
              type: boolean
            wasm:
              type: boolean
            hardwareConcurrency:
              type: integer
              minimum: 1
            deviceMemoryGb:
              type: number
              exclusiveMinimum: 0
            gpuDescription:
              type: string
            maxBufferSize:
              type: integer
              minimum: 0
        benchmark:
          type: object
          additionalProperties: false
          required: [durationMs, estimatedGflops, matrixSize]
          properties:
            durationMs:
              type: number
              exclusiveMinimum: 0
            estimatedGflops:
              type: number
              minimum: 0
            matrixSize:
              type: integer
              minimum: 8

    MobileWorkerSnapshot:
      type: object
      required: [id, clientId, name, region, platform, backend, performanceLevel, connected, status, visible, wakeLock, estimatedGflops, completedTasks, failedTasks, verifiedTasks, lastSeenAt, capabilities]
      properties:
        id:
          type: string
          format: uuid
        clientId:
          type: string
        name:
          type: string
        region:
          type: string
        platform:
          type: string
        backend:
          type: string
          enum: [webgpu, cpu]
        performanceLevel:
          type: string
          enum: [low, balanced, maximum]
        connected:
          type: boolean
        status:
          type: string
          enum: [online, suspect, offline]
        visible:
          type: boolean
        wakeLock:
          type: boolean
        estimatedGflops:
          type: number
          minimum: 0
        completedTasks:
          type: integer
          minimum: 0
        failedTasks:
          type: integer
          minimum: 0
        verifiedTasks:
          type: integer
          minimum: 0
        lastSeenAt:
          type: string
          format: date-time
        capabilities:
          type: object

    WorkerInventoryEntry:
      type: object
      required:
        - id
        - status
        - connected
        - region
        - offeredVramMb
        - deployments
        - reliability
        - jobsCompleted
        - lastSeenAt
      properties:
        id:
          type: string
        status:
          type: string
          enum: [online, suspect, offline, draining]
        connected:
          type: boolean
        region:
          type: string
        offeredVramMb:
          type: integer
          minimum: 0
        deployments:
          type: array
          items:
            $ref: "#/components/schemas/ModelDeployment"
        reliability:
          type: number
          minimum: 0
          maximum: 1
        jobsCompleted:
          type: integer
          minimum: 0
        lastSeenAt:
          type: string
          format: date-time

    ModelListResponse:
      type: object
      required: [object, data]
      properties:
        object:
          const: list
        data:
          type: array
          items:
            type: object
            required: [id, object, created, owned_by, x_replicas, x_pipelines]
            properties:
              id:
                type: string
              object:
                const: model
              created:
                type: integer
              owned_by:
                const: mycellios
              x_replicas:
                type: integer
                minimum: 0
              x_pipelines:
                type: integer
                minimum: 0

    JobResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - session_id
        - model
        - status
        - input_tokens
        - output_tokens
        - deadline_at
        - created_at
        - updated_at
      properties:
        id:
          type: string
        session_id:
          type: string
        model:
          type: string
        status:
          type: string
          enum: [queued, leasing, running, streaming, completed, failed, cancelled, expired]
        input_tokens:
          type: integer
          minimum: 0
        output_tokens:
          type: integer
          minimum: 0
        failure_code:
          type: [string, "null"]
        deadline_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
